<link rel="stylesheet" href="./styles/default.css">
    <nav class="menu">
        <a href="https://webpages.charlotte.edu/adorh/">Personal Page</a> |
        <a href="DorhDesigns/firm.html">Design Firm</a> |
        <a href="Hobby/index.html">Hobby</a>
        <a href="https://github.com/Adorh001" target="_blank">Github Profile</a> |
        <a href="https://www.linkedin.com/in/adorh001/" target="_blank">Linkedin</a> |
        <a href="https://www.freecodecamp.org/Adorh" target="_blank">Freecodecamp</a> |
        <a href="https://github.com/Adorh001/Adorh001.github.io" target="_blank">GitHub.io</a> |
        <a href="https://www.codecademy.com/profiles/Adorh" target="_blank">Codeacademy</a>
    </nav>
    <p class="footer">Designed by DorhDesigns. All rights reserved.©2024</p>
    <p class="footer">Certified in <a href="https://www.freecodecamp.org/certification/Adorh/responsive-web-design" target="_blank">Responsive Web Design</a></p>
    <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
     <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
     <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
    </a>

    <script>
       document.getElementById("validation_link_html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
            document.getElementById("validation_link_css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
