<link rel="stylesheet" href="./styles/default.css">
<header>
    <h1>Adjartey Dorh || ITIS3135 || Ambitious Wolf</h1>
    <h1><strong>We want to make games fun again</strong></h1>
    <nav>
        <a href="index.html">Home</a> ||
        <a href="Contract.html">Contract</a> ||
        <a href="introduction.html">Introduction</a> ||
        <a href="about.html">About</a> ||
        <a href="tables.html">Tables</a> ||
        <a href="form.html">Form</a> ||
        <a href="website_evaluations.html">Website Evaluations</a> ||
        <a href="badIdeas.html">Bad Ideas</a> ||
        <a href="byo_intro.html">Byo Intro</a> ||
        <a href="DorhDesigns/firm.html">Design Firm</a> ||
        <a href="Project_Overview.html">Project Overview</a> ||
        <a href="project/">Client site</a> ||
        <a href="Hobby/">Hobby</a>

    </nav>
    
</header>